// Import Fuentes

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

//Variables

// paleta de colores Glee

$bg-01: #0d99ff;
$bg-02: #cfebff;
$colorHighlight: #efbe3f;
$colorBlack: #333333;
$colorSection4: #848484;
$colorBackground2: #d9d9d9;
$colorBackground3: #eeeeee;

//spacing
$padding: 16px32px;

//border
$borderRadius: 12px;

//fonts
$font1: "Roboto", regular;
$font2: "Roboto", bold;
$font3: "Roboto", medium;

//styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 12px;
}

.preNavbar {
  display: none;
}
.subTitle {
  display: none;
}
.navbar {
  padding: 10px;
}
.offcanvasBg {
  background-color: $bg-01;
}
.offcanvas-header {
  align-items: flex-end;
}
.regular {
  font-family: $font1;
}
.bold {
  font-family: $font2;
  font-weight: 700;
}
.medium {
  font-family: $font3;
  font-weight: 700;
}
.allVh {
  height: 90vh;
}

.navIcon {
  margin-right: 5px;
}

.imgSlider {
  width: 100%;
  height: 30vh;
  background: url("../src/img/slider-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: $borderRadius;
}
.slider1Bg {
  background: url("../src/img/slider1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  padding: 25px;
}
.slider2Bg {
  background: url("../src/img/slider-2.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 25px;
  background-position-x: center;
}
.slider3Bg {
  background: url("../src/img/slider3.png");
  background-size: cover;
  padding: 25px;
  background-position-x: center;
}
.carousel-caption {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  top: 0;
}
.carousel-indicators {
  margin-bottom: 2rem;
}
#buttonRadius {
  border-radius: 50%;
  background-color: $colorBlack;
}

.SliderImgRadius {
  border-radius: 10%;
}

.carousel-indicators [data-bs-target] {
  width: 10px;
  height: 10px;
}

.sliderButton {
  background-color: #0d99ff;
  border-radius: 32px;
  color: #fff;
  border: none;
  font-size: 10px;
  margin-bottom: 10px;
  font-family: $font1;
  padding: 8px 16px;
}

.sliderText {
  color: #fff;
  font-size: 10px;
}

.sliderTitle {
  color: #fff;
  font-size: 11px;
}
.desktopSlider {
  display: none;
}
.navDesktop {
  display: none;
}
.footerdesktop {
  display: none !important;
}
.footerContainer {
  background-color: $colorBlack;
}
.chooseSection {
  height: 60vh;
}
.chooseText {
  display: none;
}
.boxesContainer {
  padding: 20px;
  height: 45vh;
}
.boxesDesktopContainer {
  display: none !important;
}
.box {
  background-color: #fff;
  height: 35%;
  width: 90%;
  border: 1px solid #fff;
  margin-bottom: 16px;
  border-radius: $borderRadius;
  box-shadow: 0px 2px 20px 1px rgba(0, 0, 0, 0.15);
  padding: 2px;
}
.catalogoButton {
  background-color: $colorBlack;
  border-radius: $borderRadius;
  width: 70%;
  height: 34px;
  color: #fff;
  border: none;
  font-size: 14px;
  margin-bottom: 10px;
  font-family: $font1;
}
.floatingButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: transparent;
  width: 70px;
  height: 70px;
  color: #fff;
  border: none;
  font-size: 14px;
  margin-bottom: 10px;
  z-index: 1000;
}
.comprarSection {
  background-color: $bg-02;
  width: 100%;
  overflow-x: scroll;
}
.card {
  margin: 10px;
  background-color: transparent;
  padding: 2px;
}
.borderNone {
  border: none;
}
.cardsContainer {
  display: flex;
  width: 250%;
  justify-content: center;
  align-items: center;
}
.cardButton {
  background-color: $colorBlack;
  border-radius: $borderRadius;
  width: 70%;
  height: 34px;
  color: #fff;
  border: none;
  font-size: 14px;
  font-family: $font1;
}
.comprarContainer {
  margin-top: 3rem;
  background-color: $bg-02;
  padding: 1rem;
}
.comprar-button {
  background-color: $colorBlack;
  border-radius: 20px;
  color: #fff;
  border: none;
  // font-size: 14px;
  font-family: $font1;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.destacadosSection {
  width: 100%;
  overflow-x: scroll;
}
.destacadosContainer {
  margin-top: 3rem;
  padding: 1rem;
}
.consultasContainer {
  display: flex;
  padding: 1rem;
  background:url(../src/img/Consultabg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
}
.contactPrefooterContainer{
  display: flex;
  padding: 1rem;
  background:url(../src/img/contactfooter.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
}
.consultasContainerContent{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 12px;
  padding: 1rem;
}
.prefooterContactContent{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  background: rgba(255, 255, 255);
  box-shadow: 0px 2px 20px 1px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  padding: 1rem;
  width: 60%;
}
.marginLeft2{
  margin-left: 1rem;
}
.footer {
  background-color: $colorBlack;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90vh;
}
.activeNav{
  color: $bg-01 !important;
}
.bg-light {
  background-color: #fff !important;
}
.navhover{
  cursor:pointer;
  border-radius: 32px;
  background-image:linear-gradient(to right, $bg-01 50%, #fff 50%);
  background-size: 200%;
  background-repeat: no-repeat;
  background-position: right;
  transition: background-position 0.5s ease-in-out;
  padding: 8px 16px;
}
.navhover:hover{
  background-position: left;
  color: #fff !important;

}
.listFooterStyle {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  text-decoration: none;
  height: 100%;
}
.list-item {
  height: 20%;
  font-size: 14px;
  font-family: $font1;
  margin-bottom: 1rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.enlace {
  text-decoration: none;
}
.footerText {
  font-size: 10px;
}
//--------ABOUT US SECTION--------//
.aboutText {
  padding-left: 5%;
  padding-right: 5%;
  text-align: justify;
}
.imgAbout {
  width: 100vw;
  height: 35vh;
  background: url("../src/img/aboutCover.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.imgStore{
  width: 100vw;
  height: 35vh;
  background: url("../src/img/tiendacover.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.imgContact{
  width: 100vw;
  height: 35vh;
  background: url("../src/img/contactoCover.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.imgFaq{
  width: 100vw;
  height: 35vh;
  background: url("../src/img/faqCover.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.inputControl{
  width: 80%;
  padding: 10px 0;
  border-radius: 0px;
  margin-bottom: 60px;
  border: none;
  border-bottom: 1px solid #84848491;
  outline: none;
  background: transparent;
  font-family: $font1;
}
.btnForm{
  padding: 16px 32px;
  border-radius: 32px;
  margin-bottom: 30px;
  border: none;
  outline: none;
  background: $bg-01;
  color: #fff;
  font-family: $font1;
}
form{
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  margin-left: 10%;
}
#products{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.product{
  border-radius: $borderRadius;
  margin-bottom: 1rem;
  padding: 2px 2px 20px 20px; 
  min-width: 95%;
  height: 65vh;
}
.btnComprar{
  background-color: $colorBlack;
  border-radius: $borderRadius;
  width: 70%;
  height: 34px;
  color: #fff;
  border: none;
  font-size: 14px;
  font-family: $font1;
}
.nuestrosValores {
  background-color: #cfebff;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50vh;
}
.boxesAboutContainer {
  height: 45vh;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.boxAbout {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #cfebff;
  box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.3);
  border-radius: $borderRadius;
  height: 30%;
  width: 100%;
}
// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cardsContainer {
    width: 150%;
  }
  .product {
    min-width: 0;
    height: 65vh;
  }
}
//This is an extra breakpont for very small devices (phones in portrait mode)
@media (min-width: 350px) {
* {
  font-size: 14px;
}
.sliderButton {
  font-size: 14px;
  padding: 16px 32px;
}
.sliderText {
  font-size: 14px;
}

.sliderTitle {
  font-size: 16px;
}
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cardsContainer {
    width: 100%;
  }
  .marginTop {
    margin-top: 9rem;
  }
  .product{
    max-width: 30vw;
    height: 65vh;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .preNavbar {
    display: flex;
    justify-content: flex-end;
    position: sticky;
    height: 6vh;
    background-color: $bg-01;
    margin: 0;
    align-items: center;
    width: 100%;
  }
  .product{
    max-width: 25%;
    height: 65vh;
  }
  .preNavText {
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    font-family: $font1;
  }
  .navButonContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: $bg-01;
    width: 20%;
  }
  .preNavButton {
    background-color: #fff;
    border-radius: $borderRadius;
    width: 100%;
    font-size: 12px;
    font-family: $font1;
    border: none;
  }
  .catalogoButton{
    width: 30%;
  }
  .preNavButtonText {
    color: $bg-01;
    font-size: 12px;
    font-family: $font1;
    text-decoration: none;
  }
  .allVh {
    height: 10vh;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-end !important;
  }
  .ml {
    margin-left: 1.5rem;
  }
  .subTitle {
    display: inline-block;
    color: $colorSection4;
  }
  .prefooterContactContent{
    width: 40%;
    padding: 48px 60px;
  }
  .noDisplay {
    display: none;
  }
  .desktopSlider {
    display: block;
  }
  .navDesktop {
    display: block;
  }
  .sliderContent {
    padding: 1.5rem;
    min-width: 50%;
    height: auto;
    border-radius: $borderRadius;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background:url("../src/img/slider-bg.svg") no-repeat ;
    background-size: cover;
    background-position: center;
  }
  .imgContainer {
    height: auto;
    max-width: 40%;
  }
  .imgSlider {
    max-width: 100%;
    height: 100%;
  }
  .slideContainer1 {
    display: flex !important;
    flex-direction: row;
    justify-content: space-around;
    background: url("../src/img/slider1.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 40vh;
    padding:40px 0
  }
  .slideContainer2 {
    display: flex !important;
    flex-direction: row;
    justify-content: space-around;
    background: url("../src/img/slider-2.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 40vh;
    padding:40px 0
  }
  .slideContainer3 {
    display: flex !important;
    flex-direction: row;
    justify-content: space-around;
    background: url("../src/img/slider3.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 40vh;
    padding:40px 0
  }
  .slick-next {
    right: 90px;
  }
  .slick-prev {
    left: 70px;
    z-index: 1000;
  }

  .slick-dots li button:before {
    font-size: 16px;
    color: #fff;
  }
  .slick-dots li.slick-active button:before {
    color: #fff;
  }
  .slick-dots {
    bottom: 10px;
  }
  .slick-prev:before,
  .slick-next:before {
    font-size: 40px;
  }
  .blackText {
    color: $colorBlack !important;
  }
  .grayText {
    color: $colorSection4 !important;
  }
  .carousel-caption {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    top: 0;
  }
  .itmSlider {
    height: 100%;
    width: 100%;
    background-image: url("../src/img/yaniv-cohen-0za9Rc3iwFc-unsplash.jpg");
  }
  .footerdesktop {
    display: flex !important;
    padding-right: 5rem;
    align-items: flex-start;
    padding-left: 3rem;
  }
  .comprarSection{
    overflow-x: hidden;
  }
  .destacadosSection {
    overflow-x: hidden;
  }
  .containerimg {
    height: 80%;
    max-width: 50%;
  }

  .consultasContainer {
    height: 40vh;
  }
  .marginTop {
    margin-top: 1rem;
  }
  .footer {
    height: 25vh;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .footerText {
    justify-content: center;
  }
  .chooseText {
    display: flex;
    flex-direction: column;
    padding-left: 3%;
    padding-right: 3%;
    text-align: justify;
  }

  .boxesDesktopContainer {
    display: flex !important;
    justify-content: space-between !important;
    padding-left: 3%;
    padding-right: 3%;
    padding: 20px;
    height: 45vh;
  }
  .box {
    width: 32%;
    height: 70%;
    align-items: flex-start;
    padding-top: 0.5rem;
  }
  .boxContent {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    height: 100%;
  }
  .imgChoose {
    height: 90%;
    margin-right: 5px;
  }
  //----About Us----//
  .boxesAboutContainer {
    flex-direction: row;
  }
  .boxAbout {
    width: 30%;
    background: #fff;
  }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .slideContainer1{
    height: 60vh;

  }
  p {
    font-size: 1.5rem;
  }
  a{
    font-size: 1.5rem !important;
  }
  h1 {
    font-size: 2.5rem;
  }
  h2, h3, h4, h5, h6 {
    font-size: 2rem;
  }
  .textSlider{
    width: 80%;
  }
  .product{
    max-width: 20%;

  }
  .slideContainer2{
    height: 60vh;

  }
  .slideContainer3{
    height: 60vh;
  }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {

}
